.nav{
  padding: 1rem;
  background: linear-gradient(to right, #021b79, #0575e6);
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: azure;
}
.nav--logo{
  width: 4rem;
  height: 4rem;
  padding-right: 10px;
}
.nav >h2{
  margin-right: auto;
}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  margin: 3rem;
  gap: 1rem;
}
.form--btn{
  background: linear-gradient(to right, #021b79, #0575e6);
  color: aliceblue;
  border-radius: 1.4rem;
  /* padding: 1rem; */
  cursor: pointer;
  grid-column: 1/-1;
  align-self: center;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form > input{
  border-radius: 6px;
  border: 1px solid rgb(24, 22, 22);
  padding: 0.7rem;
  text-indent: 6px;
}